# Domain Name;Classification;Algorithm
DM_NOMBRE;CUSTOMER;FirstNameLookup
DM_APELLIDO;CUSTOMER;LastNameLookup
DM_DIRECCION;CUSTOMER;AddrLookup
DM_CP;CUSTOMER;RepeatFirstDigit
DM_DNI;CUSTOMER;SecureShuffle
DM_TELEFONO;CUSTOMER;TelephoneNoLookup
DM_CIUDAD;CUSTOMER;USCitiesLookup
DM_BARRIO;CUSTOMER;USCountiesLookup
DM_PROVINCIA;CUSTOMER;USstatecodesLookup
DM_USUARIO;CUSTOMER;EmailLookup
DM_EMPRESA;CUSTOMER;BusinessLegalEntityLookup
DM_PASAPORTE;CUSTOMER;SecureShuffle
DM_CUENTA;CUSTOMER;SecureShuffle
DM_CUILT;CUSTOMER;SecureShuffle
DM_TARJ;CUSTOMER;CreditCard
DM_CALLE;CUSTOMER;SecureShuffle
DM_SEXO;CUSTOMER;SecureShuffle
CH_RUNT;CUSTOMER;SecureShuffle
CH_CED;CUSTOMER;SecureShuffle
